html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}



.Container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImagenHome {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.Container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Oscurece la imagen */
    z-index: 1; /* Asegúrate de que este z-index mantenga este elemento detrás del contenido */
}

.TeamDetalle .TitleText {
    flex-direction: column;
align-items: start;
text-align: start;

}
.columndetails {
    background-color: #673B8D;
    flex-direction: column;
    display: flexbox;
}
.TeamDetalles {
    flex-direction: row;
  display: flex;
  background-color: #666;
}

.Overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    z-index: 2;
}

.SocialMediaIcons {
    display: flex;
    flex-direction: column; /* Alinea los ítems en columna */
    align-items: center; /* Centra los ítems horizontalmente */
}

.SocialMediaIcons i {
    font-size: 24px;
    color: white;
    margin: 10px;
    cursor: pointer;
}

.SocialMediaIcons i:hover {
    color: #673B8D;
}
.TitleTextabout {
    text-align: start;
    max-width: 800px;
    margin: 0 auto;
}

.TitleText {
    text-align: start;
    max-width: 800px;
    margin: 0 auto;
}
.TitleText span {
    color: #ffffff;
    font-weight: bold;
}

.TitleText h1 {
    color: white;
    font-size: 4em;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.TitleText p {
    color: rgb(233, 232, 232);
    font-weight: 400;
    font-family: sans-serif;
    margin-bottom: 20px;
    max-width: 1000px;
}

.TitleText button {
    background-color: #673B8D;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
.TitleText button:hover {
    background-color: white;
    color: black;

}

/* Añade media queries para ajustar el tamaño del texto y los elementos en pantallas más pequeñas */
@media (max-width: 768px) {
    .MainTitle {
        font-size: 2em; /* Tamaño de fuente más pequeño para pantallas pequeñas */
    }

    .Description {
        max-width: 90%; /* Ancho máximo más pequeño para ajustar al tamaño de la pantalla */
    }
}



.topBar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0); 
    padding: 0 20px;
}

.Bar, .CenterText, .SearchBar {
    display: flex;
    align-items: center;
}

.Bar span {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
 
}

.CenterText a {
    margin: 0 10px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

.CenterText a:hover {
    background-color: #673B8D;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.IconImagen {
    height: 50px;
    margin-right: 10px;
}

.iconseach {
    height: 15px;
    margin-right: 10px;
    transform: scale(1.2);
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #ffffff; /* Ajusta el color de fondo según sea necesario */
    border-radius: 25px; /* Bordes redondeados para el contenedor */
    padding: 5px 10px;
}

.search-input {
    flex-grow: 1;
    border: none;
    right: 0;
    padding: 10px 20px;
    border-radius: 25px; /* Bordes redondeados para el input */
    margin-right: 10px;
}

.search-input::placeholder {
    color: #aaa;
}

.search-button, .clear-button {
    border: 2px;
    border-color: #aaa;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 5px;
    border-radius: 25px;
    cursor: pointer;
}

.search-button:hover, .clear-button:hover {
    background-color: #673B8D;
    color: #ffffff; /* Color de fondo al pasar el mouse */
}

/* Asegúrate de que no haya bordes ni contornos cuando se hace foco en los elementos */
.search-input:focus, .search-button:focus, .clear-button:focus {
    outline: none;
}

/* Icono de búsqueda usando FontAwesome - asegúrate de incluir FontAwesome en tu HTML */
.search-input {
    background-image: url('../assets/icons/buscar.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    
}

/* Ajustes adicionales para el botón de búsqueda si se quiere incluir el texto 'Search' */
.search-button::before {
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.ResultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.ResultItem {
justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.2s;
}

.ResultItem:hover {
    transform: translateY(-5px);
}

.ResultItem img {
    width: "100%";
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.ResultItem h3 {
    margin: 0;
    color: #333;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.ResultItem p {
    color: #666;
    font-size: 1em;
    line-height: 1.4;
    margin: 10px 0 0 0;
    flex-grow: 1;
}
